@{
    Layout = null;
}
@using BSU.BRSM.Bot.Models;
@model List<User>;

<style>
    table {
        border: 1px solid #ccc;
        width: 100%;
    }
    tr {
        border: 1px solid #ccc;
    }
    td, th {
        border: 1px solid #ccc;
        align-content: center;
        text-align: center;
        padding: 5px;
    }
    .td-text-align-right {
        text-align: right;
    }
    .collapsed {
        border-collapse: collapse;
    }
    .td-is-ended {
        width: 60px;
    }
    .td-datetime {
        width: 150px
    }
</style>

<h1>Telegram Bot успешно запущен!</h1>

<header>
    <div>
        <ul>
            <li><a href="/">Вопросы</a></li>
            <li><a href="/Settings">Настройки</a></li>
            <li><a href="/Login">Войти</a></li>
        </ul>
    </div>
</header>

<table class="collapsed">
    <thead>
        <tr>
            <th>Вопрос</th> <th>Закончен</th> <th>Время отправки</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var user in @Model)
            {
                foreach (var item in user.GetQuestions())
                {
                    string end = item.IsEnded == true ? "Да" : "Нет";
                    <tr onclick="window.location.href='Answer/Index?chatId=@item.ChatId.ToString()&DateTime=@item.DateTime.ToString("yyyy-MM-dd HH:mm:ss")'">
                        <td>@user.FirstName</td><td>@user.LastName</td><td class="td-text-align-right">@item.Body</td> <td class="td-is-ended">@end</td> <td class="td-datetime">@item.DateTime</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<footer>
    <p>Все права защищены</p>
</footer>
